<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.til.water_detection.sql.mapper.DataMapper">

    <insert id="addData">
        insert into water_detection_data.data (user_id, detection_id, data_type_id, time, value)
        values (#{userId}, #{detectionId}, #{dataTypeId}, #{time}, #{value})
    </insert>

    <select id="getDataById" resultType="com.til.water_detection.data.Data">
        select *
        from water_detection_data.data
        where id = #{id}
    </select>

    <select id="getDataListByUserId" resultType="com.til.water_detection.data.Data">
        select *
        from water_detection_data.data
        where user_id = #{userId}
    </select>

    <select id="getDataListByDetectionPosId" resultType="com.til.water_detection.data.Data">
        select *
        from water_detection_data.data
        where detection_id = #{detectionPosId}
    </select>

    <select id="getDataListByDataTypeId" resultType="com.til.water_detection.data.Data">
        select *
        from water_detection_data.data
        where data_type_id = #{dataTypeId}
    </select>


</mapper>