<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.til.water_detection.sql.mapper.DataMapper">
    <select id="getDataMapFromDataTypeIdArray" resultType="com.til.water_detection.data.Data">

        select *
        from water_detection_data.data
        where if(#{equipmentId} &lt; 0, TRUE, equipment_id = #{equipmentId})
        &amp;&amp;data_type_id IN
            <foreach collection="dataTypeIdArray" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        &amp;&amp; if(#{start} &lt; 0, TRUE, time &gt; #{start})
        &amp;&amp; if(#{end} &lt; 0, TRUE, time &lt; #{end})

    </select>
    <select id="getDataMapFromEquipmentIdArray" resultType="com.til.water_detection.data.Data">

        select *
        from water_detection_data.data
        where
        equipment_id IN
        <foreach collection="equipmentIdArray" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
        &amp;&amp; if(#{dataTypeId} &lt; 0 , TRUE , data_type_id = #{dataTypeId})
        &amp;&amp; if(#{start} &lt; 0, TRUE , time &gt; #{start})
        &amp;&amp; if(#{end} &lt; 0, TRUE , time &lt; #{end})

    </select>
</mapper>