<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.til.water_detection.sql.mapper.IDataTypeMapper">
    <select id="getDataTypeByIdArray" resultType="com.til.water_detection.data.DataType">
        select *
        from water_detection_data.data_type
        where id IN
        <foreach collection="id" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="getDataTypeByNameArray" resultType="com.til.water_detection.data.DataType">
        select *
        from water_detection_data.data_type
        where name IN
        <foreach collection="name" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>