<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>

    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <!-- 通过properties标签，读取java配置文件的内容 -->

    <!-- 配置mybatis的环境信息 -->
    <environments default="development">
        <environment id="development">
            <!-- 配置JDBC事务控制，由mtybatis进行管理 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据源，采用dbcp连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.til.water_detection.sql.mapper.DataMapper"/>
        <mapper class="com.til.water_detection.sql.mapper.DataTypeMapper"/>
        <mapper class="com.til.water_detection.sql.mapper.UserMapper"/>
        <mapper class="com.til.water_detection.sql.mapper.DetectionMapper"/>
    </mappers>
</configuration>
